.container{
    position: relative;
    display: flex;
    top: 20px;
    left: 5px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: inherit;
}

.myButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(245, 240, 240) inset;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: inherit;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(245, 240, 240) inset;
}