.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.cardParent{
  position: relative;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  touch-action: none;
}

.card{
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 120px 50px 50px;
  gap: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(245, 240, 240) inset;
}

.my-button{
  position: absolute;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-self: end;
  cursor: pointer;
}

.add{
  justify-self: center;
}

.edit{
  justify-self: end;
}

.delete{
  justify-self: start;
}

.input{
  display: block;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1) inset, -8px -8px 8px rgba(58, 57, 57, 0.1) inset; 

}

.icons{
  display: grid;
}

.bottomSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.select{
  background: transparent;
  border: none;
  border-radius: 10px;
}
